body{
  font-family: 'Roboto', sans-serif;
}

.debug {
  border: 1px solid black;
}

#logo img {
  width: 250px;
}

.insert-task input {
  font-size: .7rem;
  width: 350px;
}

.insert-task button {
  font-size: .7rem;
}

.insert-task p {
  color: red;
}

.task-container {
  background-color: #F6F7F7;
  width: 70%;
  margin: 20px auto;
}


.task-container li {
  font-size: .8rem;
  cursor: pointer;
}

.task-container li:hover {
  background-color: #a5a8a8;
  color: white;
}

.task.done  {
  text-decoration: line-through;
}